# Python
__pycache__/
*.pyc

# Виртуальное окружение
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Данные и артефакты обучения
catboost_info/

# Сгенерированные результаты
submission.csv
submission_dl.csv
outputs/
