# Python
__pycache__/
*.pyc

# Виртуальное окружение
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Данные и артефакты обучения
data/
catboost_info/

# Сгенерированные результаты
submission.csv
submission_dl.csv
